:Root {
	--Btn-Circ-Size: 64px;
	--Btn-Rect-Size: 48px;
}

html, body {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: white;
	background: black;

	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
iframe { border: none; }

#PlayerDiv, #VirCtlDiv { position: absolute; width: 100%; height: 100%; }
#PlayerFrame { width: 100%; height: 100%; }

#VirCtlDiv { z-index: 4; }
#VirCtlDiv > .VirCtl { position: absolute; border: 1px solid white; }

.VirCtl.Btn-Circ, .VirCtl.Btn-Rect { align-items: center; display: flex; justify-content: center; }
.VirCtl.Btn-Circ { width: var(--Btn-Circ-Size); height: var(--Btn-Circ-Size); border-radius: 50%; }
.VirCtl.Btn-Rect { width: calc(var(--Btn-Rect-Size) * 2); height: var(--Btn-Rect-Size); }

.VirCtl.Btn-Circ[data-virctl="A"] { }
